@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    fill: transparent;
  }

  to {
    fill: var(--color-heart-sparks-isliked);
  }
}
